## Connecting to arangoDB server and filling it with data from makerspace

### Step 1: importing libraries and connect to database

In [2]:
import pandas as pd 
import math 
import matplotlib as plt 
from arango import ArangoClient

In [2]:
client = ArangoClient(hosts="http://localhost:8529")
sys_db=client.db("_system", username='root', password='client')

In [3]:
if not sys_db.has_database("seminar2"):
    sys_db.create_database("seminar2")

In [4]:
db=client.db('seminar2', username="root", password='client')
graph=db.graph("makerspace")

In [10]:
waage_df = pd.read_csv("waage_df.csv", index_col=0)
umgebung_df = pd.read_csv("umgebung_df.csv", index_col=0)
cpl_df = pd.read_csv("thermo_couple_heiz_df.csv", index_col=0)

In [11]:
waage_df.head()

,uuid,timestamp_qual_start,qual_weight
0,54f145d2-e871-4bb9-8f9f-ee72e2ced9cd,2022-01-27 09:16:21.688684,304.0
1,a3ec2e1f-fa73-4c7c-9b2b-76c11e607ded,2022-01-27 09:17:59.504191,304.0
2,3fad8ca6-c3f5-4646-8d13-4d12c23bce4b,2022-01-27 09:20:07.455048,417.0
3,c047f085-5295-487c-983b-822973db31d8,2022-01-27 09:21:44.876556,271.0
4,d635cbe2-f5dc-4bc2-af97-b7dfb4f52dbc,2022-01-27 09:23:22.772306,536.0